<script src="${ctxPath!}/static/js/jquery.bootstrap-duallistbox.min.js"></script>

<div class="bootstrap-duallistbox-container row moveonselect">
<form action="${ctxPath!}/duallist" method="post">
<div class="form-group">
	<div class="col-sm-8">
		<!-- #section:plugins/input.duallist -->
		<select multiple="multiple" size="10"  name="duallist"
			id="duallist">
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3" selected="selected">Option 3</option>
			<option value="option4">Option 4</option>
			<option value="option5">Option 5</option>
			<option value="option6" selected="selected">Option 6</option>
			<option value="option7">Option 7</option>
			<option value="option8">Option 8</option>
			<option value="option9">Option 9</option>
			<option value="option0">Option 10</option>
		</select>

		<!-- /section:plugins/input.duallist -->
		<div class="hr hr-16 hr-dotted"></div>
	</div>
</div>
<input type="submit" value="提交"/>
</form>
</div>

<script>
	var demo1 = $('#duallist').bootstrapDualListbox({
		infoTextFiltered: '<span class="label label-purple label-lg">查找出{0}条 /共{1}条</span>',
		infoTextEmpty:false,
		infoText:'<span class="label label-purple label-lg">共{0}条数据</span>',
		filterPlaceHolder:"查找",
		filterTextClear:"显示全部",
		moveAllLabel:"移动全部",
		removeAllLabel:"删除全部",
		moveSelectedLabel:"移动所选",
		removeSelectedLabel:"删除所选",
		preserveSelectionOnMove : 'moved',
		moveOnSelect : false,
	});
	var container1 = demo1.bootstrapDualListbox('getContainer');
	container1.find('.btn').addClass('btn-white btn-info btn-bold');
</script>

<form method="post" class="form-search" id="search-form" target="list-page"
				action="${ctxPath}/area/list">
	<div class="input-group" style="line-height: 0px;">
		<span class="input-group-btn">
			<span class=" btn btn-success btn-sm"
				id="search-all-btn">
				 显示全部 
			</span> 
		</span>
		<input type="text" class="form-control search-query"
			name="name" placeholder="区域名称" id="search-input">
			<span class="input-group-btn">
			<span class="btn  btn-success btn-sm"
				id="search-btn">
				搜索 <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
			</span>
		</span>
	</div>
	<input type="hidden" name="id" />
</form>
<div class="widget-toolbar">
	<span class="btn btn-purple btn-xs" 
	onclick="Angel.downloadFile('search-form','${ctxPath}/test/export')">
	<i class="ace-icon fa fa-cloud-upload bigger-130"></i>
	导出Excel</span>
</div>
