<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gohuinuo.web.sys.mapper.SysLogMapper">
	
	<sql id="sysLogColumns">
		id,create_by,create_date,exception,method,params,remote_addr,request_uri,type,user_agent
	</sql>
	
	<select id="findSysLogList" resultType="com.gohuinuo.web.sys.model.SysLog">
	</select>
	
</mapper>
